{% extends "layout/base.jinja" %}
{% block title %}404{% endblock %}
{% block content %}
    {{ super() }}
    <h1>You might be lost!!</h1>
    <p>Please go back to <a href="/">the application</a></p>
{% endblock %}