<!Doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %} - PIR using PHE</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
</head>
<body>
    <div class="content">
        {% block content %}
            <h1><a href="/">PIR using PHE</a></h1>
        {% endblock %}
    </div>
    <div class="footer">
        <small>Proposal of BCS. Anthony Bernardo Kamers, 2023</small>
        <br>
        <small>At UFSC - Universidade Federal de Santa Catarina</small>
    </div>
</body>
</html>
