<form action="/add" method="POST" class="margin-bottom">
    <label for="add-value">Add value to database</label>
    <input type="number" required name="add-value" id="add-value">
    <input type="submit" name="send" value="Add">
</form>
